* {
	background-color: white;
	
	/*Reset padding, margin and border on all elements */
	padding: 0px;
	margin: 0px; 
	border: none;
	
	/*Hide overflow to remove scroller in browsers*/
	overflow: hidden;
}